<div id="domRoot" [ngClass]="{hidden: m_hidden}">
    <div id="headerPad"></div>
    <nav id="fileMenu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span id="angularText">
        StudioWeb
        <Logo></Logo>
        <label [ngClass]="{offline: offlineDevMode}" style="font-size: 10px; font-family: Arial">{{version}} | ng {{ngVersion}} | {{offlineDevMode==true ? 'offline' : 'online'}}</label>
      </span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">>
            <ng-menu [routePrefix]="'App1'" [fileMenuMode]="false">
                <ng-menu-item [fontawesome]="'fa-dashboard'" [title]="'Dashboard'"></ng-menu-item>
                <ng-menu-item [fontawesome]="'fa-navicon'" [title]="'Campaigns'"></ng-menu-item>
                <ng-menu-item [fontawesome]="'fa-certificate'" [title]="'Resources'"></ng-menu-item>
                <ng-menu-item [fontawesome]="'fa-edit'" [title]="'Scenes'"></ng-menu-item>
                <ng-menu-item [fontawesome]="'fa-laptop'" [title]="'Stations'"></ng-menu-item>
                <ng-menu-item [fontawesome]="'fa-group'" [title]="'Fasterq'"></ng-menu-item>
                <ng-menu-item [fontawesome]="'fa-cog'" [title]="'Settings'"></ng-menu-item>
                <ng-menu-item [fontawesome]="'fa-cloud-upload'" [title]="'Studiopro'"></ng-menu-item>
                <ng-menu-item [fontawesome]="'fa-power-off'" [title]="'Resources'"></ng-menu-item>
            </ng-menu>
        </div>
    </nav>
    <div id="appEntry">

        <router-outlet></router-outlet>

        <div id="waitScreenEntryApp" style="display: none">
            <span style="position: absolute; left: 45%; top: 20%"> <img src="./assets/preload5.gif"> </span>
        </div>
        <div id="appLogout" style="display: none"> <span style="position: absolute; left: 40%; top: 20%">
      <h3 data-localize="haveNiceDay">Have a nice day :)</h3>
      </span>
        </div>
        <div id="appSelector" class="noScroll container" style="display: none">
            <div align="center" style="padding-top: 100px">
                <button type="button" name="mailWasp" class="btn btn-default">
                    <i style="margin: 20px; padding: 20px; font-size: 5em" class="fa fa-envelope"></i>
                    <span data-localize="none"></span>
                </button>
                <button type="button" name="everNodes" class="btn btn-default">
                    <i style="margin: 20px; padding: 20px ; font-size: 5em" class="fa fa-sitemap"></i>
                    <span data-localize="none"></span>
                </button>
            </div>
        </div>
        <div id="appMailWaspContent" class="noScroll container" style="display: none"></div>
        <div id="appEverNodesContent" class="noScroll container" style="display: none"></div>
    </div>
</div>
<loading [style]="{'margin-top': '150px'}" *ngIf="m_showMode == m_ShowModeEnum.SAVE"></loading>
<live-preview *ngIf="m_showMode == m_ShowModeEnum.PREVIEW"></live-preview>



